
html {
    height: 100%;
}

body {
    background-color: var(--testing-color);
    font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
    margin: 0;
    display: grid;
    min-height: 100%;
    grid-template-areas: 
        "header"
        "main"
        "footer";

    header {
        grid-area: header;
        display: flex;
        align-items: center;
        /* Zet pijlje in het midden */
    }

    main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .video {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        p {
            font-family: var(--font-poppins);
            color: var(--general-color);
            margin: 0;
            font-size: 50px;
            text-align: center;
        }
    }

    footer {
        grid-area: footer;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;

        .buttons {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            .pausebutton {
                margin-right: 80px;
            }
            .playbutton {
                margin-right: 80px; /* behoud margin */
            }

            button{
                all: unset; /* verwijderd button styling */
                cursor: pointer;
                /* laat het cklikken */
            }
        }

        .background {
            position: absolute;
            width: 110%; /* 110% omdat hij een klein lijntje aan de zijkant had */
            height: 200px; 
            left: -10%; /* die hier word verwijderd */
            bottom: 0;
            z-index: -1;
            background-size: cover;
            /* Omdat dit absolute is, gebruik left en bottom voor positioning*/
        }
    }
}
