
html {
    height: 100%;
}

body {
    background-color: var(--testing-color);
    font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
    margin: 0;
    display: grid;
    min-height: 100%;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}
header {
    grid-area: header;
    display: flex;
    align-items: center;
    /* Zet pijlje in het midden */
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    #myVideo{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .subtitle {
        font-family: var(--font-poppins);
        color: var(--general-color);
        font-size: 50px;
        text-align: center;
        margin: 0;
        max-width: 90%;
    }
}

footer {
        grid-area: footer;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;

        .buttons {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            .volumebutton{
                background: none;
                border: none;
            }

            .pausebutton {
                margin-right: 80px;
                background: none;
                border: none;
            }
            .playbutton {
                margin-right: 80px; /* behoud margin */
                background: none;
                border: none;
            }
            .buttons button {
                all: unset; /* Reset alle standaard browserstijlen */
                cursor: pointer; /* Maak de knop klikbaar */
                border: none;
            }

            img:hover {
                all: unset; /* Reset alle standaard browserstijlen */
                cursor: pointer; /* Maak de knop klikbaar */
                border: none;
                filter: grayscale(50%); /* Veranderen van kleur */
                transition: ease-in-out;
            }
            
            .buttons button[hidden] {
                display: none; /* Verberg knoppen als ze de hidden-status hebben */
            }

            .volumeslider {
                width: 150px; 
                appearance: none; /* Verwijder default styles */
                height: 5px;
                background: var(--general-color); /* Thema kleur */
                outline: none;
                position: absolute; 
                bottom: 50px; /* Net onder buttons */
                left: 50%; 
                transform: translateX(-50%);
                z-index: 1;
            }
            
            .volumeslider::-webkit-slider-thumb { /*https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/*/
                appearance: none; 
                width: 15px;
                height: 15px;
                border-radius: 50%; /* maak het uiteinde rond */
                background: var(--general-color); /* Use your theme color */
                cursor: pointer;
            }     
            
            .timeslider {
                width: 300px; /* Adjust the width of the slider */
                appearance: none;
                height: 8px;
                background: #ddd; /* Background track color */
                position: absolute; 
                bottom: 90px; /* Net onder buttons */
                border-radius: 5px;
                cursor: pointer;
            }
            
            .timeslider::-webkit-slider-thumb {
                appearance: none;
                width: 15px;
                height: 15px;
                background: var(--general-color); 
                border-radius: 50%;
                cursor: pointer;
            }
        }

        .background {
        position: absolute;
        width: 110%; /* 110% omdat hij een klein lijntje aan de zijkant had */
        height: 200px; 
        left: -10%; /* die hier word verwijderd */
        bottom: 0;
        z-index: -1;
        background-size: cover;
        /* Omdat dit absolute is, gebruik left en bottom voor positioning*/
    }
}
